In [75]:
%pip install kagglehub 
%pip install sqlalchemy
%pip install mysql-connector-python
%pip install pandas
%pip install dotenv

Requirement already satisfied: kagglehub in ./.venv/lib/python3.13/site-packages (0.3.12)
Requirement already satisfied: packaging in ./.venv/lib/python3.13/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in ./.venv/lib/python3.13/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in ./.venv/lib/python3.13/site-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in ./.venv/lib/python3.13/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (2025.8.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.13/site-packages (2.0.43)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.13/site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in ./.venv/lib/python3.13/site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: dotenv in ./.venv/lib/python3.13/site-packages (0.9.9)
Requirement already satisfied: python-dotenv in ./.venv/lib/python3.13/site-packages (from dotenv) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [76]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
from sqlalchemy import create_engine

In [168]:
# Set the path to the file you'd like to load
file_path = "Airline Dataset Updated - v2.csv"

# Load the latest version
# from https://www.kaggle.com/datasets/iamsouravbanerjee/airline-dataset?select=Airline+Dataset+Updated+-+v2.csv
flights_df = pd.read_csv('Airline Dataset Updated - v2.csv')


flights_df['Departure Date MySQL'] = pd.to_datetime(flights_df['Departure Date'], format='mixed', errors='coerce').dt.strftime('%Y-%m-%d')
# df = df.drop(columns=['Country Name','Airport Continent','Continents', 'Airport Country Code', 'Departure Date'])
# df.rename(columns={'Departure Date MySQL':'Departure Date'}, inplace=True)

In [169]:
def clean_column_names(df):
    df.columns = (
        df.columns
        .str.strip()                # remove spaces at the beginning and end
        .str.lower()                # lowercase the names
        .str.replace(' ', '_')   # replace internal spaces with underscores
    )
    return df

In [170]:

flights_df = clean_column_names(flights_df)
flights_df

,passenger_id,first_name,last_name,gender,age,nationality,airport_name,airport_country_code,country_name,airport_continent,continents,departure_date,arrival_airport,pilot_name,flight_status,departure_date_mysql
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time,2022-06-28
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time,2022-12-26
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time,2022-01-18
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed,2022-09-16
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time,2022-02-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,hnGQ62,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12-11-2022,HAA,Pammie Kingscote,Cancelled,2022-12-11
98615,2omEzh,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Dorice Lochran,Cancelled,2022-10-30
98616,VUPiVG,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,09-10-2022,ABC,Gearalt Main,On Time,2022-09-10
98617,E47NtS,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Judon Chasle,Cancelled,2022-10-26
98618,8JYEcz,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Auguste Tindley,Delayed,2022-04-16

In [171]:
passenger_df = flights_df[['passenger_id', 'first_name', 'last_name', 'gender', 'age', 'nationality']]
# create a lower-case version of passenger_id
passenger_df['pid_lower'] = passenger_df['passenger_id'].str.lower()

# drop duplicates based on the lower-case column, keeping the first occurrence
passenger_df = passenger_df.drop_duplicates(subset='pid_lower', keep='first')

# clean up
passenger_df = passenger_df.drop(columns='pid_lower')

passenger_df

/var/folders/9x/t81_t1w14_s8w2jy_nx_xn4m0000gn/T/ipykernel_56025/1803937442.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passenger_df['pid_lower'] = passenger_df['passenger_id'].str.lower()

      passenger_id  first_name  last_name  gender  age nationality
0           ABVWIg      Edithe     Leggis  Female   62       Japan
1           jkXXAX      Elwood       Catt    Male   62   Nicaragua
2           CdUz2g       Darby    Felgate    Male   67      Russia
3           BRS38V    Dominica       Pyle  Female   71       China
4           9kvTLo         Bay    Pencost    Male   21       China
...            ...         ...        ...     ...  ...         ...
98614       hnGQ62      Gareth    Mugford    Male   85       China
98615       2omEzh       Kasey   Benedict  Female   19      Russia
98616       VUPiVG      Darrin     Lucken    Male   65   Indonesia
98617       E47NtS       Gayle  Lievesley  Female   34       China
98618       8JYEcz  Wilhelmine     Touret  Female   10      Poland

[98617 rows x 6 columns]

In [172]:
def clean_airport_columns(airport_df):
    return airport_df[['ident', 'type', 'name', 'continent', 'iso_country', 'iso_region']]

In [188]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "airports.csv"

# Load the latest version
new_airport_df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "joebeachcapital/airport-codes",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)
# new_airport_df = new_airport_df.drop_duplicates(subset='name', keep='first').reset_index(drop=True)
new_airport_df

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76512,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
76513,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
76514,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
76515,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,NaN,NaN,NaN,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96"
76516,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [189]:
airport_small_df = new_airport_df[['ident', 'name', 'local_code', 'iata_code']]
merge1 = pd.merge(left=flights_df, right=airport_small_df, left_on='arrival_airport', right_on='local_code', how='left')
merge1.isnull().sum()

passenger_id                0
first_name                  0
last_name                   0
gender                      0
age                         0
nationality                 0
airport_name                0
airport_country_code        0
country_name                0
airport_continent           0
continents                  0
departure_date              0
arrival_airport             0
pilot_name                  0
flight_status               0
departure_date_mysql        0
ident                   58434
name                    58434
local_code              58434
iata_code               85998
dtype: int64

In [190]:

# Second merge: match arrival_airport with iata_code (only unmatched rows)
# Filter flights that didn't match in first merge
unmatched_flights = flights_df[~flights_df.index.isin(merge1.dropna(subset=['ident', 'name', 'local_code', 'iata_code']).index)]
merge2 = pd.merge(unmatched_flights, airport_small_df, 
                  left_on='arrival_airport', right_on='iata_code', how='left')
merge2.isnull().sum()

passenger_id                0
first_name                  0
last_name                   0
gender                      0
age                         0
nationality                 0
airport_name                0
airport_country_code        0
country_name                0
airport_continent           0
continents                  0
departure_date              0
arrival_airport             0
pilot_name                  0
flight_status               0
departure_date_mysql        0
ident                    4207
name                     4207
local_code              50695
iata_code                4207
dtype: int64

In [191]:
clean_flight_df = pd.concat([merge1.dropna(subset=['ident', 'name', 'local_code', 'iata_code']), merge2], ignore_index=True)
clean_flight_df.isnull().sum()

clean_flight_df[clean_flight_df['ident'].isnull()]
clean_flight_df = clean_flight_df.dropna(subset=['ident'])
clean_flight_df.isnull().sum()
clean_flight_df

,passenger_id,first_name,last_name,gender,age,nationality,airport_name,airport_country_code,country_name,airport_continent,continents,departure_date,arrival_airport,pilot_name,flight_status,departure_date_mysql,ident,name,local_code,iata_code
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time,2022-06-28,PACX,Coldfoot Airport,CXF,CXF
1,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time,2022-02-25,KSEE,Gillespie Field,SEE,SEE
2,3jmudz,Burlie,Schustl,Male,13,Thailand,Vermilion Airport,CA,Canada,NAM,North America,04-06-2022,YVG,Alameda Carlyle,On Time,2022-04-06,CYVG,Vermilion Airport,YVG,YVG
3,2P41gZ,Porty,Jori,Male,39,Tunisia,Nuevo Casas Grandes Airport,MX,Mexico,NAM,North America,5/27/2022,NCG,Rasia Fidelus,Cancelled,2022-05-27,MMCG,Nuevo Casas Grandes Municipal Airport,NCG,NCG
4,GUta6R,Amberly,Handling,Female,32,China,Farmington Regional Airport,US,United States,NAM,North America,03-07-2022,FAM,Lothaire Eades,Delayed,2022-03-07,KFAM,Farmington Regional Airport,FAM,FAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101170,0mBUjN,Hadria,Vacher,Female,41,Canada,Ipil Airport,PH,Philippines,AS,Asia,06-06-2022,IPE,Gideon Praundl,On Time,2022-06-06,RPMV,Ipil Airport,NaN,IPE
101172,XqX0PI,Oneida,Ossipenko,Female,47,Serbia,Arugam Bay SPB,LK,Sri Lanka,AS,Asia,05-12-2022,AYY,Guido Cloy,Delayed,2022-05-12,AYY,Arugam Bay SPB,NaN,AYY
101173,hnGQ62,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12-11-2022,HAA,Pammie Kingscote,Cancelled,2022-12-11,ENHK,Hasvik Airport,NaN,HAA
101174,2omEzh,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Dorice Lochran,Cancelled,2022-10-30,FMNZ,Ampampamena Airport,NaN,IVA
101175,8JYEcz,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Auguste Tindley,Delayed,2022-04-16,UWKJ,Yoshkar-Ola Airport,NaN,JOK

In [192]:
clean_flight_df.drop(columns=['arrival_airport', 'name', 'local_code', 'iata_code'], inplace=True)
clean_flight_df.rename(columns={'ident':'arrival_airport'}, inplace=True)
clean_flight_df

,passenger_id,first_name,last_name,gender,age,nationality,airport_name,airport_country_code,country_name,airport_continent,continents,departure_date,pilot_name,flight_status,departure_date_mysql,arrival_airport
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,Fransisco Hazeldine,On Time,2022-06-28,PACX
1,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,Ebonee Tree,On Time,2022-02-25,KSEE
2,3jmudz,Burlie,Schustl,Male,13,Thailand,Vermilion Airport,CA,Canada,NAM,North America,04-06-2022,Alameda Carlyle,On Time,2022-04-06,CYVG
3,2P41gZ,Porty,Jori,Male,39,Tunisia,Nuevo Casas Grandes Airport,MX,Mexico,NAM,North America,5/27/2022,Rasia Fidelus,Cancelled,2022-05-27,MMCG
4,GUta6R,Amberly,Handling,Female,32,China,Farmington Regional Airport,US,United States,NAM,North America,03-07-2022,Lothaire Eades,Delayed,2022-03-07,KFAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101170,0mBUjN,Hadria,Vacher,Female,41,Canada,Ipil Airport,PH,Philippines,AS,Asia,06-06-2022,Gideon Praundl,On Time,2022-06-06,RPMV
101172,XqX0PI,Oneida,Ossipenko,Female,47,Serbia,Arugam Bay SPB,LK,Sri Lanka,AS,Asia,05-12-2022,Guido Cloy,Delayed,2022-05-12,AYY
101173,hnGQ62,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12-11-2022,Pammie Kingscote,Cancelled,2022-12-11,ENHK
101174,2omEzh,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,Dorice Lochran,Cancelled,2022-10-30,FMNZ
101175,8JYEcz,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,Auguste Tindley,Delayed,2022-04-16,UWKJ

In [193]:

new_airport_df = clean_column_names(new_airport_df)
new_airport_df = clean_airport_columns(new_airport_df)
new_airport_df.rename(columns={'ident':'airport_code'}, inplace=True)
new_airport_df

/var/folders/9x/t81_t1w14_s8w2jy_nx_xn4m0000gn/T/ipykernel_56025/2826426957.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_airport_df.rename(columns={'ident':'airport_code'}, inplace=True)

,airport_code,type,name,continent,iso_country,iso_region
0,00A,heliport,Total RF Heliport,NaN,US,US-PA
1,00AA,small_airport,Aero B Ranch Airport,NaN,US,US-KS
2,00AK,small_airport,Lowell Field,NaN,US,US-AK
3,00AL,small_airport,Epps Airpark,NaN,US,US-AL
4,00AN,small_airport,Katmai Lodge Airport,NaN,US,US-AK
...,...,...,...,...,...,...
76512,ZZ-0001,heliport,Sealand Helipad,EU,GB,GB-ENG
76513,ZZ-0002,small_airport,Glorioso Islands Airstrip,AF,TF,TF-U-A
76514,ZZ-0003,small_airport,Fainting Goat Airport,NaN,US,US-TX
76515,ZZZW,closed,Scandium City Heliport,NaN,CA,CA-YT
76516,ZZZZ,small_airport,Satsuma Iōjima Airport,AS,JP,JP-46

In [194]:
airport_small_df = new_airport_df[['airport_code', 'name']]
airport_small_df[airport_small_df['name'].duplicated(keep=False)]
counts = airport_small_df['name'].value_counts()

# Filter to only those > 1
counts[counts > 1]

name
Centre Hospitalier Heliport    83
Mukho Port Heliport            50
Fazenda Santa Maria Airport    26
Fazenda São José Airport       22
Fazenda São João Airport       19
                               ..
Berry Field                     2
Fazenda Palma Airport           2
Carter Ranch Airport            2
Fazenda Barreiro Airport        2
Leach Farms Heliport            2
Name: count, Length: 2389, dtype: int64

In [200]:
merge_flight_df = pd.merge(left=clean_flight_df, right=airport_small_df, left_on='airport_name', right_on='name', how='left')
merge_flight_df.rename(columns={'airport_code':'departure_airport'}, inplace=True)
clean_flight_df = merge_flight_df

In [201]:

def clean_flight_columns(df):
    df = df[['passenger_id', 'departure_airport', 'arrival_airport', 'departure_date_mysql', 'flight_status', 'pilot_name']]
    df.rename(columns={'departure_date_mysql':'departure_date'}, inplace=True)
    return df

In [202]:
clean_flight_df = clean_flight_columns(clean_flight_df)
clean_flight_df

/var/folders/9x/t81_t1w14_s8w2jy_nx_xn4m0000gn/T/ipykernel_56025/3570019735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'departure_date_mysql':'departure_date'}, inplace=True)

,passenger_id,departure_airport,arrival_airport,departure_date,flight_status,pilot_name
0,ABVWIg,PACX,PACX,2022-06-28,On Time,Fransisco Hazeldine
1,9kvTLo,66B,KSEE,2022-02-25,On Time,Ebonee Tree
2,9kvTLo,KSEE,KSEE,2022-02-25,On Time,Ebonee Tree
3,3jmudz,CYVG,CYVG,2022-04-06,On Time,Alameda Carlyle
4,2P41gZ,NaN,MMCG,2022-05-27,Cancelled,Rasia Fidelus
...,...,...,...,...,...,...
105828,0mBUjN,RPMV,RPMV,2022-06-06,On Time,Gideon Praundl
105829,XqX0PI,AYY,AYY,2022-05-12,Delayed,Guido Cloy
105830,hnGQ62,ENHK,ENHK,2022-12-11,Cancelled,Pammie Kingscote
105831,2omEzh,FMNZ,FMNZ,2022-10-30,Cancelled,Dorice Lochran
105832,8JYEcz,UWKJ,UWKJ,2022-04-16,Delayed,Auguste Tindley

In [203]:
def to_mysql(df, table_name, database_name, password):
    # Create a database connection engine
    # Replace 'username', 'password', 'host', 'port', 'database' with your MySQL credentials
    engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database_name}')

    # Write the DataFrame to MySQL, table will be created automatically if not exists
    df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

    print(f"DataFrame written to MySQL table '{table_name}' successfully.")

In [204]:
from dotenv import load_dotenv
import os

def load_password(env_variable):
    load_dotenv()  # Loads variables from .env file
    return os.getenv(env_variable)

In [205]:
test_df = pd.merge(left=clean_flight_df, right=new_airport_df, left_on='arrival_airport', right_on='airport_code', how='left')
test_df[test_df['airport_code'].isnull()]

Empty DataFrame
Columns: [passenger_id, departure_airport, arrival_airport, departure_date, flight_status, pilot_name, airport_code, type, name, continent, iso_country, iso_region]
Index: []

In [208]:
password = load_password('MYSQL_PASSWORD')

to_mysql(df=new_airport_df, table_name='airport', database_name='airline_db', password=password)
to_mysql(df=passenger_df, table_name='passenger', database_name='airline_db', password=password)
to_mysql(df=clean_flight_df, table_name='flight', database_name='airline_db', password=password)

DataFrame written to MySQL table 'airport' successfully.
DataFrame written to MySQL table 'passenger' successfully.
DataFrame written to MySQL table 'flight' successfully.